<div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "roadcar.jpg"%>);">
  <div class="container wrapheader">
    <h1>Enjoy the freedom of having the right car only when you need one</h1>
  </div>
</div>

<div class="mt-3">
  <h2 class="text-center">How can AirCar work for you?</h2>

  <div class="cards home_card" >

    <div class="card">
      <%= link_to cars_path, class: "link-unstyled" do %>
      <h4>Find the car you need</h4>
      <%= image_tag "happy_renter.jpg", class: "w-100 class pt-1 pb-1"%>
      <p>Rent the car of your dreams</p>
      <% end %>
    </div>
    <div class="card">
      <%= link_to cars_path, class: "link-unstyled" do %>
      <h4>Rent your car out</h4>
      <%= image_tag "rent_out.jpg", class: "w-100 class pt-1 pb-1"%>
      <p>Make money - be climate smart</p>
      <% end %>
    </div>
    <div class="card">
      <%= link_to cars_path, class: "link-unstyled" do %>
      <h4>Become an AirCar member</h4>
      <%= image_tag "become_member.jpg", class: "w-100 class pt-1 pb-1"%>
      <p>Create your profile today</p>
      <% end %>
    </div>
  </div>
</div>

</div>
