<h1>All our cars!</h1>

<%= simple_form_for :search, url: cars_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input_field :make, input_html: {value: ""}, placeholder: 'What car are you looking for?', name: "query" %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>


<div class="car-container">
  <ul class = "list-unstyled" >

     <% @cars.each do |car| %>

     <li class = "car-card">
      <%= link_to car_path(car), class: "link-unstyled" do %>
      <div class="d-flex">
        <img class="car-img rounded"
        src="https://images.unsplash.com/photo-1603924498829-ce16c0da32aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=992&q=80" alt="car photo" >
        <div class = "car-card-info">
          <div class="">

            <div class="title-heart">
              <h3 class="car-card-title"><%= car.make %> <%= car.model %> <span class="car-card-year"><%= car.year %></span></h3>
              <i class="far fa-heart red-heart"></i>
            </div>
              <span class="car-card-description"><%= car.description %></span>
              <div class="car-card-location"><i class="fas fa-map-pin"></i> City name</div>

          </div>
          <div class="car-card-owner">
            <div class="">
              <span class="">Some user name for now</span>
            </div>
            <div class="price-day">
              <span class="price-bold"><%= car.price %></span>
              <span class="">SEK/Day</span>
            </div>
          </div>
        </div>
      </div>
        <% end %>
     </li>

       <% end %>
  </ul>

</div>

<p><%= link_to "Add car", new_car_path %></p>

