<h1>All our cars!</h1>

<ul class = "list-unstyled" >
  <div class = "car-card">
   <% @cars.each do |car| %>
   <li class = "card pa-0 mb-0 mt-4 w-100%">
    <img class = "w-100% w-280-sm br2-top "
    src="https://images.unsplash.com/photo-br1605581223740-dd18ebf8a75a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="car photo" >
      <div class = "car-card-info">
        <div class = "car-header">
        <h2> <%=car.make%> <%=car.model%></h2>
          <h3> <%=car.year%></h3>
        </div>
        <div>
          <p>ICON</p>
        </div>
        <div class = "car-description">
          <p><%=car.description%></p>
        <div class = "car-price">
          <h3> <%=car.price%></h3>
        </div>
        </div>
      </div>
   </li>
     <% end %>
 </div>
</ul>


<p><%= link_to "Add car", new_car_path %></p>

